<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--Put your menu button (hamburger button here)-->
      <!--You can connect this button to id in the side drawer in app.component.ts file-->
      <ion-menu-button menu="first"></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">Open</ion-button> -->
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <!--Takes the whole row (size 12), set size to 8 when the window is middle sized, and make space the horizontal sides of the ion-col-->
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{loadedPlaces[0].title}}
            </ion-card-title>
            <ion-card-subtitle>
              {{loadedPlaces[0].price | currency}} / Night
              <!--currency is default angular pipe feature-->
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <!--Example use of ionic-label. You also can use ion-text. You can do coloring on it. Use ion-text if you're doing basic coloring only.-->
            <p>
              <ion-text color="danger"
                >{{loadedPlaces[0].description}}</ion-text
              >
            </p>
          </ion-card-content>
          <!-- <div text-right padding></div> Old Ionic 4 stuff-->
          <div class="ion-text-center">
            <!--routerDirection: (Ionic) Tell Ionic that it should do forward, backward or root page
                    animations-->
            <!--[routerLink] tells the Ionic where you  want to go, by from root ("/") -> places page
                     -> tabs page -> discover page -> A page which need :placeId-->
            <!--Same as /places/tabs/discover/:placeId-->
            <ion-button
              fill="clear"
              color="primary"
              routerDirection="forward"
              [routerLink]="['/', 'places', 'discover', 'place-detail', loadedPlaces[0].id]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <!--ion-virtual-scroll: An item that scroll through unlimited list of items without lagging down the app performance.
            In traditional for loop, all items are rendered no matter you're viewing them or not.
            But ion-virtual-scroll only renders the ion-item that is in your screen view only.-->
        <!--You CANNOT put any splice(), filter(), split() method in the [items] attribute,
               it will cause the whole Ionic app hangs.-->
        <!--approxItemHeight tells ion-virtual-scroll the height of the ion-item which helps 
                it to determine and prepare how far you will scroll down and how many item you will have on screen.
              Improves performance.-->
        <ion-virtual-scroll
          [items]="listedLoadedPlaces"
          approxItemHeight="70px"
        >
          <!--detail can tell Ionic to make arrow pointer that indicates this item can be clicked.-->
          <ion-item
            [routerLink]="['/', 'places', 'discover', 'place-detail', place.id]"
            detail
            *virtualItem="let place"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
