<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Angular: Template driven form that use form tag-->
  <!--#f="ngForm" is required by Angular Template Driven form so that your form's elements now can be accessed by using f attribute from now on-->
  <!--For example, you can put your "f" attribute-->
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <!--Make the login form in the middle of the screen-->
    <!--https://forum.ionicframework.com/t/vertical-and-horizontal-center/83204-->
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <!--For each Angular template driven form, you must add ngModel, name and your *name* attribute in every single field.-->
            <!--You also can give some validations like minlength, maxlength and so on.-->
            <!--You can add your own attribute in there like #emailCtrl="ngModel", so you can access the Email Form Control-->
            <!--You may use ion-item directly without ion-list-->
            <ion-item>
              <!--This configuration of Email field will give standard animation effect,
              when the user clicked on the Email field in this page.-->
              <ion-label position="floating">Email: </ion-label>
              <ion-input
                inputmode="email"
                clearInput
                autofocus
                autocomplete
                required
                ngModel
                name="email"
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <!--After self assigned your own attribute, you can use that to read the form control, show the correct error message
                 based on the basic given characteristics of the form validation like pristine, touched, dirty, required and pattern.-->
                 <small>Should be a valid email address.</small>
            </ion-item>
            <ion-item>
              <!--This configuration of Email field will give standard animation effect,
              when the user clicked on the Email field in this page.-->
              <ion-label position="floating">Password: </ion-label>
              <ion-input
                type="password"
                clearInput
                autocomplete
                required
                ngModel
                name="password"
                password
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <!--After self assigned your own attribute, you can use that to read the form control, show the correct error message
                 based on the basic given characteristics of the form validation like pristine, touched, dirty, required and pattern.-->
                 <small>Should be at least 6 characters long.</small>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <!--Other buttons that wrapped by the form must write type="button"
            so the form won't execute when you click this button.-->
          <ion-button color="primary" fill="clear" expand="full" type="button">
            Switch to Login
          </ion-button>
          <!--View official documentation on spinners: https://ionicframework.com/docs/api/spinner-->
          <!--Commented because want to use LoadingController-->
          <!-- <ion-button expand="block" color="primary" (click)="onLogin()"
          >Login&nbsp;&nbsp;&nbsp;<ion-spinner color="secondary" *ngIf="isLoading"></ion-spinner>
        </ion-button> -->
          <ion-button
            color="primary"
            expand="block"
            fill="outline"
            (click)="onLogin()"
            type="submit"
            [disabled]="!f.valid"
          >
            Login
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row> </ion-row>
    </ion-grid>
  </form>
</ion-content>
